@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Popayán - Colombia<br />
    Ucrania<br />
    <abbr title="Telefono">Tel:</abbr>
    312.785.7713
</address>

<address>
    <strong>Soporte:</strong> <a href="mmbtrs@gmail.com">mmbtrs@gmail.com</a><br />
</address>
